.splitClass {
    border: 1px;
    background: #c4d5ef;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    margin-top: -25px;
    height: 25px;
    line-height: 25px;
}
.customCard {
    padding: 1rem;
}