<p-sidebar *ngIf="dealForm" #sidebar [(visible)]="parent.sidebarVisible" position="right" [baseZIndex]="10000"
    styleClass="w-full md:w-8 lg:w-8 xl:w-6" [showCloseIcon]="false">
    <ng-template pTemplate="content">

        <form [formGroup]="dealForm" (ngSubmit)="onSubmit()">
            <div class="card  overflow-auto">
                <div
                    class="flex flex-column align-items-start md:flex-row md:align-items-center md:justify-content-between border-bottom-1 surface-border">
                    <div class="flex flex-column">
                        <div class="mb-3 text-2xl font-medium">Deal Details</div>
                        <div class="formgrid grid">
                            <div class="field col-6">
                                <label for="firstname">Name</label>
                                <input formControlName="status" type="text"
                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                            </div>
                            <div class="field col-6">
                                <label for="middlename">Value</label>
                                <input [disabled]="true" type="text" [value]="getFinalTotal()" formControlName="status"
                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

                            </div>
                            <div class="field col-6">
                                <label>Organization</label>
                                <p-dropdown appendTo="body" formControlName="org" (onChange)="changeOrg($event)"
                                    [options]="organizationFilterData" optionLabel="name" optionValue="id"
                                    placeholder="Select Organization"></p-dropdown>
                            </div>
                            <div class="field col-6">
                                <label>Status</label>
                                <p-dropdown appendTo="body" formControlName="salutation" [options]="status"
                                    optionLabel="name" placeholder="Select Status"></p-dropdown>
                            </div>
                            <div class="field col-6">
                                <label>Customer Contact</label><br>
                                <p-dropdown appendTo="body" formControlName="salutation" [options]="individualsData"
                                    optionLabel="name" optionValue="id"
                                    placeholder="Select Customer Contact"></p-dropdown>
                            </div>
                            <div class="field col-6">
                                <label>Win Probability</label><br>
                                <p-dropdown appendTo="body" formControlName="status" [options]="winProbablity"
                                    optionLabel="name" placeholder="Prospect"></p-dropdown>
                            </div>
                            <div class="field col-6">
                                <label>Account Manager</label><br>
                                <p-dropdown appendTo="body" formControlName="salutation" [options]="individualsData"
                                    optionLabel="name" optionValue="id"
                                    placeholder="Select Customer Contact"></p-dropdown>
                            </div>
                            <div class="field col-6">
                                <label>Start Date</label><br>
                                <p-calendar formControlName="salutation" dateFormat="dd-M-yy"></p-calendar>
                            </div>
                            <div class="field col-6">
                                <label>Source</label><br>
                                <p-dropdown appendTo="body" formControlName="status" [options]="sourceList"
                                    optionLabel="name" placeholder="Prospect"></p-dropdown>
                            </div>
                            <div class="field col-6">
                                <label>Close Date</label><br>
                                <p-calendar formControlName="closeDate" dateFormat="dd-M-yy"></p-calendar>
                            </div>

                            <!--  <div class="field col-2">
                                <label>Deal Currency</label><br>
                                <p-dropdown appendTo="body" formControlName="status" [options]="status"
                                    optionLabel="name" placeholder="Prospect"></p-dropdown>
                            </div>
                            <div class="field col-2">
                                <label>Est. Profitability</label><br>
                                <p-dropdown appendTo="body" formControlName="status" [options]="status"
                                    optionLabel="name" placeholder="Prospect"></p-dropdown>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div
                    class="mt-5 flex flex-column align-items-start md:flex-row md:align-items-center md:justify-content-between border-bottom-1 surface-border min-w-max">
                    <div class="flex flex-column">
                        <div class="mb-3 text-2xl font-medium">Services</div>
                    </div>
                    <div class="flex mb-3 flex-wrap gap-2">
                        <button pButton pRipple label="Add New" icon="pi pi-plus" (click)="addNewService()"></button>
                    </div>
                </div>
                <div>
                    <div class="grid mt-2">
                        <div
                            class="col-3 text-left font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                            <label> Facility </label>
                        </div>
                        <div
                            class="col-2 text-left font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                            <label> Service Type</label>
                        </div>
                        <div
                            class="col-2 text-left font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                            <label> Service Rate</label>
                        </div>
                        <div
                            class="col-2 text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                            <label> Employee Count</label>
                        </div>
                        <div
                            class="col-1 text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                            <label> Quantity</label>
                        </div>
                        <div
                            class="col-2 text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                            <label> Total</label>
                        </div>
                    </div>
                    <div class="grid mt-2" *ngFor="let control of dynamicInputs; let i = index">
                        <div
                            class="col-2 text-left font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                            <p-dropdown appendTo="body" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="control.facility" [options]="selectedOrganization.facilities"
                                optionLabel="type" (onChange)="onValueChange(i)"
                                placeholder="Select Facility"></p-dropdown>
                        </div>
                        <div
                            class="col-2 text-left font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                            <p-dropdown appendTo="body" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="control.service" [options]="selectedOrganization.services"
                                optionLabel="type" (onChange)="onValueChange(i)"
                                placeholder="Select Service"></p-dropdown>
                        </div>
                        <div
                            class="col-2 text-left font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="control.unitRate"
                                [disabled]="true" type="number"
                                class="text-right text-color surface-overlay p-2 border-1 border-solid surface-border  border-round appearance-none outline-none focus:border-primary w-full">

                        </div>
                        <div
                            class="col-2 text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                            <input [ngModelOptions]="{standalone: true}" [disabled]="true"
                                [(ngModel)]="control.employeeCount" type="number"
                                class="text-right text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

                        </div>
                        <div
                            class="col-2 text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                            <input [ngModelOptions]="{standalone: true}" [disabled]="true"
                                [(ngModel)]="control.quantity" type="number"
                                class="text-right text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div>
                        <div
                            class="col-2 text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="control.total" [disabled]="true"
                                type="number"
                                class="text-right text-color surface-overlay p-2 border-1 border-solid surface-border  border-round appearance-none outline-none focus:border-primary w-full">
                        </div>
                    </div>
                </div>

                <div class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mt-8">
                    <div class="font-semibold mb-3 md:mb-0"></div>
                    <div class="flex flex-column">
                        <div class="flex justify-content-between align-items-center mb-2">
                            <span class="font-semibold mr-6">SUBTOTAL</span>
                            <span>${{ total }}.00</span>
                        </div>
                        <div class="flex justify-content-between align-items-center mb-2">
                            <span class="font-semibold mr-6">VAT %</span>
                            <span>{{ vat }}</span>
                        </div>
                        <div class="flex justify-content-between align-items-center mb-2">
                            <span class="font-semibold mr-6">Discount</span>
                            <p-inputGroup class="w-full"> <p-inputGroupAddon>$</p-inputGroupAddon><input
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="discount"
                                    (change)="getFinalTotal()" type="number"
                                    class="text-right text-color surface-overlay p-2 border-1 border-solid surface-border appearance-none outline-none focus:border-primary w-full">
                            </p-inputGroup>
                        </div>
                        <div class="flex justify-content-between align-items-center">
                            <span class="font-semibold mr-6">TOTAL</span>
                            <span>${{ getFinalTotal() }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex w-full justify-content-end border-top-1 surface-border py-5 px-5 gap-3">

                <button pButton pRipple type="submit" icon="pi pi-check" label="Save"
                    class="p-button-primary h-3rem"></button>
                <button pButton pRipple type="submit" icon="pi pi-file-pdf" label="Generate PDF"
                    class="p-button-primary h-3rem"></button>
                <button pButton pRipple type="submit" icon="pi pi-envelope" label="Email"
                    class="p-button-primary h-3rem"></button>
            </div>
        </form>
    </ng-template>
</p-sidebar>