<p-sidebar *ngIf="dealForm" #sidebar [(visible)]="parent.sidebarVisible" position="right" [baseZIndex]="10000"
    styleClass="w-full md:w-10 lg:w-10 xl:w-10" [showCloseIcon]="false">
    <ng-template pTemplate="content">

        <!-- New Design -->
        <div class="card">
            <form [formGroup]="dealForm" (ngSubmit)="onSubmit()">
                <div class="grid">
                    <div class="col-3 formClass">
                        <div class="mb-3 text-2xl font-medium">Deal Details</div>
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <label for="firstname">Name</label>
                                <input formControlName="dealName" type="text"
                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                            </div>
                            <div class="field col-12">
                                <label for="middlename" class="w-full">Value</label>
                                <p-inputNumber class="w-full" [style.display]="'inline-grid'" formControlName="value"
                                    mode="currency" inputId="currency-germany" currency="EUR" locale="de-DE">
                                </p-inputNumber>
                            </div>
                            <div class="field col-12">
                                <label>Organization</label>
                                <p-dropdown appendTo="body" formControlName="org" [options]="organizationFilterData"
                                    optionLabel="name" optionValue="id" placeholder="Select Organization"></p-dropdown>
                            </div>
                            <div class="field col-12">
                                <label>Status</label>
                                <p-dropdown appendTo="body" formControlName="status" [options]="status"
                                    optionLabel="name" optionValue="name" placeholder="Select Status"></p-dropdown>
                            </div>
                            <div class="field col-12">
                                <label>Customer Contact</label><br>
                                <p-dropdown appendTo="body" formControlName="customerContact"
                                    [options]="individualsData" optionLabel="name" optionValue="id"
                                    placeholder="Select Customer Contact"></p-dropdown>
                            </div>
                            <div class="field col-12" *ngIf="false">
                                <label>Win Probability</label><br>
                                <p-dropdown appendTo="body" formControlName="winProbablity" [options]="winProbablity"
                                    optionLabel="name" placeholder="Prospect"></p-dropdown>
                            </div>
                            <div class="field col-12">
                                <label>Account Manager</label><br>
                                <p-dropdown appendTo="body" formControlName="accountManager" [options]="individualsData"
                                    optionLabel="name" optionValue="id"
                                    placeholder="Select Customer Contact"></p-dropdown>
                            </div>
                            <div class="field col-12">
                                <label>Start Date</label><br>
                                <p-calendar formControlName="startDate" dateFormat="dd-M-yy"
                                    [showIcon]="true"></p-calendar>
                            </div>
                            <div class="field col-6" *ngIf="false">
                                <label>Source</label><br>
                                <p-dropdown appendTo="body" formControlName="source" [options]="sourceList"
                                    optionLabel="name" placeholder="Prospect"></p-dropdown>
                            </div>
                            <div class="field col-12">
                                <label>Close Date</label><br>
                                <p-calendar formControlName="closeDate" dateFormat="dd-M-yy"
                                    [showIcon]="true"></p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="grid">
                            <div class="col-8 mb-3 text-2xl font-medium">Quote Details</div>
                            <div class="col-4 float-end text-right">
                                <button pButton pRipple label="Add New Quote" icon="pi pi-plus"
                                    (click)="initQuotesArray()"></button>
                            </div>
                        </div>
                        <ng-container>
                            <div class="w-full" formArrayName="quotes">
                                <p-accordion class="w-full" [activeIndex]="0">

                                    <ng-container *ngFor="let quote of QuotesArray.controls;  let i = index"
                                        [formGroupName]="i">
                                        <p-accordionTab>
                                            <ng-template pTemplate="header">
                                                <span class="flex align-items-center gap-2 w-full">
                                                    <p-chip
                                                        label="{{ quote.get('total')?.value | currency:'EUR' }}"></p-chip>
                                                    <p-chip label="{{ quote.get('date')?.value | date }}"
                                                        icon="pi pi-calendar"></p-chip>
                                                    <p-button icon="pi pi-copy" class="ml-auto" label="Clone Quote"
                                                        (click)="cloneQuote($event,i)" size="small"
                                                        [rounded]="true"></p-button>

                                                </span>
                                            </ng-template>
                                            <div [style.pointer-events]="(i === 0)?'':'none'">
                                                <div
                                                    class="mt-5 flex flex-column align-items-start md:flex-row md:align-items-center md:justify-content-between border-bottom-1 surface-border min-w-max">
                                                    <div class="flex flex-column">
                                                        <div class="mb-3 text-2xl font-medium">Services</div>
                                                    </div>
                                                    <div class="flex mb-3 flex-wrap gap-2">
                                                        <button pButton pRipple label="Add New" icon="pi pi-plus"
                                                            (click)="initServicesArray(i)"></button>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="grid mt-2">
                                                        <div
                                                            class="col-2 text-left font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                                                            <label> Facility </label>
                                                        </div>
                                                        <div
                                                            class="col-2 text-left font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                                                            <label> Service Type</label>
                                                        </div>
                                                        <div
                                                            class="col-2 text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                                                            <label> Service Rate</label>
                                                        </div>
                                                        <div
                                                            class="col-2 text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                                                            <label> Employee Count</label>
                                                        </div>
                                                        <div
                                                            class="col-2 text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                                                            <label> Quantity</label>
                                                        </div>
                                                        <div
                                                            class="col-2 text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                                                            <label> Total</label>
                                                        </div>
                                                    </div>
                                                    <ng-container formArrayName="services">
                                                        <div class="grid mt-2"
                                                            *ngFor="let service of getServiceArray(i).controls; let j = index"
                                                            [formGroupName]="j">
                                                            <div
                                                                class="col-2 text-left font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                                                                <p-dropdown appendTo="body" formControlName="facility"
                                                                    [options]="selectedOrganization.facilities"
                                                                    optionLabel="type" optionValue="_id"
                                                                    (onChange)="onServiceChange(i,j)"
                                                                    placeholder="Select Facility"></p-dropdown>
                                                            </div>
                                                            <div
                                                                class="col-2 text-left font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                                                                <p-dropdown appendTo="body" formControlName="service"
                                                                    [options]="selectedOrganization.services"
                                                                    optionLabel="type" optionValue="_id"
                                                                    (onChange)="onServiceChange(i,j)"
                                                                    placeholder="Select Service"></p-dropdown>
                                                            </div>
                                                            <div
                                                                class="col-2 text-left font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                                                                <p-inputNumber formControlName="unitRate"
                                                                    mode="currency" inputId="currency-germany"
                                                                    currency="EUR" locale="de-DE">
                                                                </p-inputNumber>

                                                            </div>
                                                            <div
                                                                class="col-2 text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                                                                <p-inputNumber formControlName="employeeCount">
                                                                </p-inputNumber>

                                                            </div>
                                                            <div
                                                                class="col-2 text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                                                                <p-inputNumber formControlName="quantity">
                                                                </p-inputNumber>
                                                            </div>
                                                            <div
                                                                class="col-2 text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">
                                                                <p-inputNumber formControlName="total" mode="currency"
                                                                    inputId="currency-germany" currency="EUR"
                                                                    locale="de-DE">
                                                                </p-inputNumber>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>

                                                <div
                                                    class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mt-8">
                                                    <div class="font-semibold mb-3 md:mb-0"></div>
                                                    <div class="flex flex-column">
                                                        <div
                                                            class="flex justify-content-between align-items-center mb-2">
                                                            <label class="mr-2">SubTotal</label>
                                                            <p-inputNumber formControlName="subTotal" mode="currency"
                                                                inputId="currency-germany" currency="EUR"
                                                                locale="de-DE">
                                                            </p-inputNumber>
                                                        </div>
                                                        <div
                                                            class="flex justify-content-between align-items-center mb-2">
                                                            <label class="mr-2">VAT </label>
                                                            <p-inputNumber formControlName="vat" inputId="percent"
                                                                suffix="%">
                                                            </p-inputNumber>
                                                        </div>
                                                        <div
                                                            class="flex justify-content-between align-items-center mb-2">
                                                            <label class="mr-2">Discount</label>
                                                            <p-inputNumber formControlName="discount" mode="currency"
                                                                inputId="currency-germany" currency="EUR" locale="de-DE"
                                                                (onChange)="getFinalTotal(i)">
                                                            </p-inputNumber>
                                                        </div>
                                                        <div
                                                            class="flex justify-content-between align-items-center mb-2">
                                                            <label class="mr-2">TOTAL</label>
                                                            <p-inputNumber formControlName="total" mode="currency"
                                                                inputId="currency-germany" currency="EUR"
                                                                locale="de-DE">
                                                            </p-inputNumber>

                                                        </div>
                                                    </div>
                                                </div>
                                                <ng-container
                                                    *ngIf="getPaymentArray(i).controls && getPaymentArray(i).controls.length > 0">
                                                    <div class="col-12 text-2xl font-medium">Payments</div>
                                                    <app-table [loading]="loading" [key]="'Payments'"
                                                        [columns]="paymentColumns"
                                                        [tableData]="getPaymentData(i)"></app-table>
                                                </ng-container>
                                                <div class="flex w-full border-top-1 surface-border py-5 gap-3">
                                                    <div class="col-4 justify-content-start">
                                                        <button pButton pRipple type="submit" icon="pi pi-credit-card"
                                                            label="Create Payment Milestones"
                                                            class="p-button-primary h-3rem justify-content-start"
                                                            (click)="op.toggle($event)"></button>
                                                    </div>
                                                    <p-overlayPanel #op [styleClass]="'partitionClass'">
                                                        <ng-template pTemplate="content">
                                                            <label for="firstname">Number of Payment Milestones</label>
                                                            <input type="text" formControlName="paymentMilestone"
                                                                class="text-base  text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                                            <button pButton pRipple type="submit" label="Create"
                                                                class="p-button-primary h-2.5rem mt-2"
                                                                (click)="createPaymentMilestone(i)"></button>
                                                        </ng-template>
                                                    </p-overlayPanel>
                                                    <div class="col-8 justify-content-end flex justify-content gap-3">
                                                        <button pButton pRipple type="submit" icon="pi pi-check"
                                                            label="Save" class="p-button-primary h-3rem"
                                                            (click)="saveQuote($event)"></button>
                                                        <button pButton pRipple type="submit" icon="pi pi-file-pdf"
                                                            label="Document Preview"
                                                            class="p-button-primary h-3rem"></button>
                                                        <button pButton pRipple type="submit" icon="pi pi-envelope"
                                                            label="Email Quote"
                                                            class="p-button-primary h-3rem"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </p-accordionTab>
                                    </ng-container>
                                </p-accordion>
                            </div>
                        </ng-container>
                    </div>
                </div>

            </form>
        </div>
    </ng-template>
</p-sidebar>