<p-table [columns]="selectedColumns" [value]="tableData" [resizableColumns]="true" styleClass="p-datatable-striped"
    [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} {{footerKey}}" [stateKey]="'table_'+key"
    [reorderableColumns]="true" [rowsPerPageOptions]="[5, 10, 20]" [scrollable]="true" scrollHeight="450px"
    [loading]="loading" (onRowSelect)="showDetails($event)" (onEditComplete)="onEditComplete($event)" dataKey="id">
    <ng-template pTemplate="caption" *ngIf="showColumnSelection">
        <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header"
            placeholder="Please select columns"> 
        </p-multiSelect>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <ng-container *ngIf="key === 'facilities' || key === 'poc'; else elseContent">
                <th style="width: 4rem">Primary</th>
            </ng-container>
            <ng-template #elseContent>
                <th pFrozenColumn style="width: 3rem" *ngIf="showCheckBox"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
            </ng-template>
            <ng-container *ngFor="let col of columns">
                <ng-container *ngIf="col.field === 'name'; else otherTemplate">
                    <th pFrozenColumn pResizableColumn pReorderableColumn pSortableColumn="{{col.field}}">{{ col.header | translate }}
                        <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </ng-container>
                <ng-template #otherTemplate>
                    <th pResizableColumn pReorderableColumn pSortableColumn="{{col.field}}">{{ col.header | translate }}
                        <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </ng-template>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-columns="columns" let-rowData let-rowIndex="rowIndex">
        <tr>
            <ng-container *ngIf="key === 'facilities' || key === 'poc'; else elseContent">
                <td><p-tableRadioButton [value]="rowData"></p-tableRadioButton></td>
            </ng-container>
            <ng-template #elseContent>
                <td pFrozenColumn *ngIf="showCheckBox"> <p-tableCheckbox [value]="rowData"></p-tableCheckbox></td>
            </ng-template>

            <!-- <td *ngIf="key === 'Facilities' || key === 'Point Of Contacts'">
                <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
            </td> -->
            <ng-container *ngFor="let col of columns">
                <ng-container *ngIf="col.field !='action' && col.field != 'status'">
                    <ng-container *ngIf="key === 'Payments'; else ElseContent">
                        <td [pEditableColumn]="rowData[col.field]" [pEditableColumnField]="col.field">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text"
                                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                        [(ngModel)]="rowData[col.field]" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ (col.field ==='date')? (rowData[col.field] | date ) :rowData[col.field] }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </ng-container>
                    <ng-template #ElseContent>
                        <ng-container *ngIf="col.field === 'name'; else otherTemplate">
                            <td pFrozenColumn>{{ rowData[col.field] | translate }}</td>
                        </ng-container>
                        <ng-template #otherTemplate>
                            <td *ngIf="col.field !='action' && col.field != 'status' && col.field != 'assignee' && col.field != 'name'">{{ rowData[col.field] | translate }}</td>
                        </ng-template>
                    </ng-template>
                </ng-container>
                <td *ngIf="col.field == 'assignee'">
                    <span class="actionLink activeLinks" (click)="addAssignee(rowData, rowIndex)">
                        <i class="pi pi-plus mr-2" style="font-size: 1rem"></i>{{ 'COMMON.ADD_ASSIGNEE' | translate }}</span>
                </td>
                <td *ngIf="col.field =='status'">
                    <span class="customer-badge {{rowData[col.field]}}">{{ rowData[col.field] | translate }}</span>
                </td>
                <td *ngIf="col.field =='action'">
                    <ng-container *ngIf="key === 'schedule'; else otherViews">
                        <div class="inline-flex">
                            <div (click)="manageActivities(rowData, rowIndex, 'Manage')">
                                <span><i class="pi pi-sliders-h" style="font-size: 1rem"></i></span>
                                <span class="activeLinks actionLink ml-2">{{ 'COMMON.MANAGE' | translate }}</span>
                            </div>
                            <div *ngIf="false" class="ml-3" (click)="viewActivities(rowData, rowIndex, 'View')">
                                <span><i class="pi pi-book" style="font-size: 1rem"></i></span>
                                <span class="activeLinks actionLink ml-2">View</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #otherViews>
                        <ng-container *ngIf="key === 'tasks'; else otherTemplate">
                            <span class="actionLink activeLinks" (click)="viewAllocation(rowData, rowIndex)">View Allocation</span>
                        </ng-container>
                        <ng-template #otherTemplate>
                            <span class="actionLink" (click)="edit(rowData, rowIndex)"><i
                                    class="pi pi-pencil text-xl text-blue-500"></i></span>
                            <span *ngIf="key === 'Quotes'" class="ml-3 actionLink" (click)="clone(rowData, rowIndex)"><i
                                    class="pi pi-clone text-xl text-blue-500"></i></span>
                            <span class="ml-3 actionLink" (click)="delete(rowData, rowIndex)"><i
                                    class="pi pi-trash text-xl text-blue-500"></i></span>
                        </ng-template>

                    </ng-template>
                </td>
            </ng-container>
        </tr>
    </ng-template>
</p-table>


