<!-- TASK ALLOCATION TABLE -->
<ng-container *ngIf="showTaskAllocation; else accessError">
    <app-table [loading]="loading" [key]="'schedule'" [footerKey]="'FOOTERS.SCHEDULE'" [columns]="tableColumns"
    [tableData]="tableData" (manageActivity)="manageActivity($event)" (viewActivity)="viewActivity($event)"></app-table>
</ng-container>
<ng-template  #accessError>
	<div class="col-12 text-xl accessError">{{ 'MESSAGES.ACCESSRESTRICTED' | translate }}</div>
</ng-template>


<!-- TASK ALLOCATION SIDEBAR -->
<p-sidebar #sidebar [(visible)]="teamSchedule" position="right" [baseZIndex]="10000"
    styleClass="w-full md:w-11 lg:w-11 xl:w-11" [showCloseIcon]="false">
    <p-toast></p-toast>
    <form [formGroup]="activeWork" (ngSubmit)="onSubmit()">
        <div class="col-12 grid">
            <div class="col formClass" style="width: 280px;" formGroupName="projectDetails">
                <div class="formgrid grid">
                    <div class="field col-12">
                        <label>{{ 'COMMON.PROJECT' | translate }}</label>
                        <input formControlName="project" type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col-12">
                        <label>{{ 'COMMON.START_DATE' | translate }}</label><br>
                        <p-calendar formControlName="startDate" dateFormat="dd-M-yy" [showIcon]="true"></p-calendar>
                    </div>
                    <div class="field col-12">
                        <label>{{ 'COMMON.END_DATE' | translate }}</label><br>
                        <p-calendar formControlName="endDate" dateFormat="dd-M-yy" [showIcon]="true"></p-calendar>
                    </div>
                    <div class="field col-12">
                        <label for="hours" class="w-full">{{ 'COMMON.HOURS' | translate }}</label>
                        <p-inputNumber class="w-full" [style.display]="'inline-grid'" inputId="integeronly"
                            formControlName="hours"></p-inputNumber>
                    </div>
                    <div class="field col-12">
                        <label>{{ 'COMMON.COMPLETED_PERCENTAGE' | translate }}</label>
                        <p-inputNumber class="w-full" [style.display]="'inline-grid'" inputId="integeronly"
                            formControlName="completed"></p-inputNumber>
                    </div>
                    <div class="field col-12">
                        <label>{{ 'COMMON.STATUS' | translate }}</label><br>
                        <input formControlName="status" type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                </div>
            </div>
            <div class="col">
                <p-fieldset [toggleable]="true">
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center gap-2 px-2">
                            <span class="font-bold">{{ 'ACTIVEWORK.TASKALLOCATION.MANAGE_SERVICES' | translate }}</span>
                        </div>
                    </ng-template>
                    <div class="col-12 p-0 pb-2 inline-flex flex justify-content-end flex-wrap">
                        <div class="ml-3">
                            <button class="text-right" [disabled]="true" pButton pRipple label="{{ 'ACTIVEWORK.TASKALLOCATION.ADD_TASK' | translate }}" icon="pi pi-plus"></button>
                        </div>
                    </div>
                    <app-table [loading]="loading" [key]="'tasks'" [footerKey]="'ACTIVEWORK.TASKALLOCATION.SERVICES'" [columns]="taskColumns"
                        [tableData]="taskTableData" (addAssigneeDetail)="showAssigneeDetails($event)"
                        (showAllocationDetails)="showAllocation($event)"></app-table>
                </p-fieldset>
                <div class="mt-3" *ngIf="resourcesData && resourcesData.length > 0">
                    <p-fieldset [toggleable]="true">
                        <ng-template pTemplate="header">
                            <div class="flex align-items-center gap-2 px-2">
                                <span class="font-bold">{{ 'ACTIVEWORK.TASKALLOCATION.MANAGE_USERS' | translate }}</span>
                            </div>
                        </ng-template>
                        <app-table [loading]="loading" [key]="'Allocatedusers'" [footerKey]="'COMMON.USERS'" [columns]="usersColumns"
                            [tableData]="resourcesData" (editContent)="editData($event)"
                            (deleteContent)="delete($event)"></app-table>
                    </p-fieldset>
                </div>
            </div>
        </div>
    </form>
</p-sidebar>

<p-dialog header="" [styleClass]="'assigneeView'" [(visible)]="visible" [style]="{ width: '55vw', height: 'auto', 'padding-bottom': '5px' }">
    <div class="col-12 p-0 inline-flex">
        <div class="col p-2 tags">{{ 'LEAD_MANAGEMENT.DEALS.FACILITY' | translate}}: {{this.facilityLocation}} </div>
        <div *ngIf="assigneeLocation" class="col p-2 ml-2 tags">{{selectedAssignee}}: {{assigneeLocation}}</div>
    </div>
    <p-divider></p-divider>
    <div class="col-12 grid" *ngIf="assigneeView">
        <div class="col-3 p-0">
            <div class="mb-3">
                <label>{{ 'ACTIVEWORK.TASKALLOCATION.ASSIGNEE' | translate }}</label><br>
                <p-dropdown [options]="accountManagers" [(ngModel)]="selectedAssignee" optionLabel="label"
                    optionValue="label" placeholder="Select Assignee" (onChange)="updateLocation()"></p-dropdown>
            </div>
            <div class="mb-3">
                <label>{{ 'ACTIVEWORK.TASKALLOCATION.ALLOCATION' | translate }}</label><br>
                <p-inputNumber [(ngModel)]="allocationCount" inputId="percent" suffix=" %" [max]="100"
                    (onInput)="updateAllocationData()"> </p-inputNumber>
            </div>
            <div class="mb-3">
                <label class="mb-2">{{ 'ACTIVEWORK.TASKALLOCATION.AUTO_ALLOCATE' | translate }}</label><br>
                <div><p-inputSwitch [(ngModel)]="toggleStatus" (onChange)="updateAllocationData()"></p-inputSwitch>
                </div>
            </div>
            <div class="mb-3 inline-flex">
                <p-button label="{{ 'ACTIVEWORK.TASKALLOCATION.ALLOCATE' | translate }}" (onClick)="allocate()"></p-button>
                <p-button class="ml-2" label="{{ 'COMMON.CANCEL' | translate }}"  (onClick)="closeView()"></p-button>
            </div>
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="col p-0">
            <div class="col-12 mb-3 p-0">
                <div class="text-xl" style="float: left;margin-top: 7px;">{{ 'ACTIVEWORK.TASKALLOCATION.SERVICE_HOURS' | translate }}: {{serviceHours}}</div>
                <div style="text-align: right;"><app-time-range
                        (updateRange)="updateRangeView($event)"></app-time-range></div>
            </div>
            <div class="col-12 p-0" style="overflow-y: auto;">
                <div class="col-12 p-0 inline-flex">
                    <ng-container *ngFor="let item of timeRangeHeaders">
                        <div class="p-0 tableClass"
                            [ngClass]="{ 'col': timeRangeValue === 'Quaterly', 'col-3': timeRangeValue === 'Monthly'}">
                            {{item.name}}</div>
                    </ng-container>
                </div>
                <div class="col-12 p-0 inline-flex">
                    <ng-container *ngFor="let time of timeData; let index = index; trackBy:trackByIndex;">
                        <div class="p-2 tableClass"
                            [ngClass]="{ 'col': timeRangeValue === 'Quaterly', 'col-3': timeRangeValue === 'Monthly'}">
                            <p-inputNumber inputId=a{{index}} [(ngModel)]="timeData[index]" (onBlur)="updateTotal()">
                            </p-inputNumber>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-12 p-1 mt-5 totalHours">
                <span class="text-xl">{{ 'ACTIVEWORK.TIMETRACKING.TOTAL_HOURS' | translate }}: {{totalHours}}</span>
            </div>
            <ng-container *ngIf="selectedAssignee && remainingHours.length > 0">
                <p-divider></p-divider>
                <div class="col-12 p-0 text-xl">{{ 'ACTIVEWORK.TIMETRACKING.REMAINING_HOURS' | translate }}</div>
                <div class="col-12 p-0 mt-1" style="overflow-y: auto;">
                    <div class="col-12 p-0 inline-flex">
                        <ng-container *ngFor="let item of timeRangeHeaders">
                            <div class="p-0 tableClass"
                                [ngClass]="{ 'col': timeRangeValue === 'Quaterly', 'col-3': timeRangeValue === 'Monthly'}">
                                {{item.name}}</div>
                        </ng-container>
                    </div>
                    <div class="col-12 p-0 inline-flex">
                        <ng-container *ngFor="let time of remainingHours; let index = index; trackBy:trackByIndex;">
                            <div class="p-2 tableClass"
                                [ngClass]="{ 'col': timeRangeValue === 'Quaterly', 'col-3': timeRangeValue === 'Monthly'}">
                                <p-inputNumber [disabled]="true" inputId=a{{index}} [(ngModel)]="remainingHours[index]">
                                </p-inputNumber>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</p-dialog>

<!-- NOT USING IT -->
<p-dialog header="" [styleClass]="'assigneeView'" [(visible)]="updateAssignee"
    [style]="{ width: '50vw', height: '450px' }">
    <ng-container *ngIf="assigneeView">
        <div class="col-12 grid">
            <div class="col-3 p-0">
                <div class="mb-3">
                    <label>Assignee</label><br>
                    <p-dropdown [options]="accountManagers" [(ngModel)]="selectedAssignee" optionLabel="label"
                        optionValue="label" placeholder="Select Assignee"></p-dropdown>
                </div>
                <div class="mb-3">
                    <label>Allocation</label><br>
                    <p-inputNumber [(ngModel)]="allocationCount" inputId="percent" suffix=" %" [max]="100"
                        (onInput)="updateAllocationData()"> </p-inputNumber>
                </div>
                <div class="mb-3">
                    <label>Start Date</label><br>
                    <p-calendar [(ngModel)]="updatedStartDate" dateFormat="dd-M-yy" [showIcon]="true"></p-calendar>
                </div>
                <div class="mb-3">
                    <label>End Date</label><br>
                    <p-calendar [(ngModel)]="updatedEndDate" dateFormat="dd-M-yy" [showIcon]="true"></p-calendar>
                </div>
                <div class="mb-3 text-center">
                    <p-button label="Update" (onClick)="updateAssigneeDetails()"></p-button>
                    <p-button class="ml-3" label="Cancel"></p-button>
                </div>
            </div>
            <p-divider layout="vertical"></p-divider>
            <div class="col p-0">
                <div class="col-12 mb-3 p-0">
                    <div class="text-xl" style="float: left;margin-top: 7px;">Service Hours: {{serviceHours}}</div>
                    <div style="text-align: right;"><app-time-range
                            (updateRange)="updateRangeView($event)"></app-time-range></div>
                </div>
                <div class="col-12 p-0" style="overflow-y: auto;">
                    <div class="col-12 p-0 inline-flex">
                        <ng-container *ngFor="let item of timeRangeHeaders">
                            <div class="col p-0 tableClass">{{item.name}}</div>
                        </ng-container>
                    </div>
                    <div class="col-12 p-0 inline-flex">
                        <ng-container *ngFor="let time of data; let index = index; trackBy:trackByIndex;">
                            <div class="col p-2 tableClass">
                                <p-inputNumber inputId=a{{index}} [(ngModel)]="data[index]"> </p-inputNumber>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-12 p-1 mt-5 totalHours">
                    <span class="text-xl">Total Hours: {{totalHours}}</span>
                </div>
            </div>
        </div>
    </ng-container>
</p-dialog>