<p-dialog [(visible)]="contactView" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '96vw' }"
	[draggable]="false" [resizable]="false">
	<ng-template pTemplate="header">
        <span class="text-xl font-bold">Add Contact</span>
		<span style="position: absolute;right: 75px;">
			<p-inputSwitch class="mr-2" [(ngModel)]="additionalDetails"></p-inputSwitch>
			<label>Additional Details</label> 
		</span>
    </ng-template>
	<div class="col-12">
		<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
			<p-accordion [multiple]="true">
				<p-accordionTab header="Personal Details">
					<div class="formgrid grid">
						<div class="field col">
							<label for="firstname">First Name</label>
							<input formControlName="firstname" type="text"
								class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
						</div>
						<div class="field col">
							<label for="middlename">Middle Name</label>
							<input formControlName="middlename" type="text"
								class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
						</div>
						<div class="field col">
							<label for="lastname">Last Name</label>
							<input formControlName="lastname" type="text"
								class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
						</div>
					</div>
				</p-accordionTab>
				<p-accordionTab header="Contact">
					<div class="formgrid grid">
						<div class="field col">
							<label for="emailAddress">Email Address</label>
							<input formControlName="emailAddress" type="text"
								class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
						</div>
						<div class="field col">
							<label for="middlename">Alternate Email Address</label>
							<input formControlName="alternateEmailAddress" type="text"
								class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
						</div>
					</div>
					<div class="field grid">
						<div class="field col">
							<div class="field">
								<label for="lastname">Primary Contact</label>
								<input formControlName="primaryContact" type="number"
									class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
							</div>
							<div class="field">
								<label for="lastname">Alternate Contact</label>
								<input formControlName="alternateContact" type="number"
									class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
							</div>
						</div>
						<div class="field col">
							<label for="middlename">Mailing Address</label>
							<textarea rows="5" appendTo="body" cols="30" pInputTextarea
								formControlName="text"></textarea>
						</div>
					</div>
				</p-accordionTab>
				<p-accordionTab header="Professional">
					<div class="formgrid grid">
						<div class="field col">
							<label for="firstname">Job Title</label>
							<input type="text" formControlName="jobtitle"
								class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
						</div>
						<div class="field col">
							<label for="middlename">Company</label>
							<p-dropdown appendTo="body" formControlName="companyname" [options]="company"
								optionLabel="name" placeholder="company"></p-dropdown>
						</div>
						<div class="field col">
							<label for="lastname">Role</label>
							<p-dropdown appendTo="body" formControlName="rolename" [options]="roles" optionLabel="name"
								placeholder="role"></p-dropdown>
						</div>
					</div>
				</p-accordionTab>
				<p-accordionTab header="Open Opportunities" *ngIf="additionalDetails">

				</p-accordionTab>
				<p-accordionTab header="Activity Log" *ngIf="additionalDetails">

				</p-accordionTab>
			</p-accordion>
			<div class="col-12" style="width: 100px;">
				<button pButton pRipple label="Submit" class="p-button-success"></button>
			</div>
		</form>
	</div>
</p-dialog>
<div class="grid col-12 pr-1 pb-0">
	<div class="col-3">
		<p-button label="Contacts" styleClass="p-button-text"></p-button>
	</div>
	<div class="col-9 text-right pr-0">
		<p-button icon="pi pi-user" severity="info" label="Add Contact" (click)="addContact()"></p-button>
		<p-button class="ml-2" label="Import"></p-button>
	</div>
</div>
<div class="col-12 pt-0">
	<p-table [columns]="columns" [value]="tableData" styleClass="p-datatable-striped"
		[tableStyle]="{'min-width': '50rem'}">
		<ng-template pTemplate="header">
			<tr>
				<th *ngFor="let col of columns">
					{{ col.header }}
				</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-rowData>
			<tr>
				<ng-container *ngFor="let col of columns">
					<td *ngIf="col.field !='action' && col.field != 'status'">{{ rowData[col.field] }}</td>
					<td *ngIf="col.field =='status'">
						<span class="customer-badge {{rowData[col.field]}}">{{ rowData[col.field] }}</span>
					</td>
					<td *ngIf="col.field =='action'">
						<span><i class="pi pi-pencil text-xl text-blue-500"></i></span>
						<span class="ml-3"><i class="pi pi-trash text-xl text-blue-500"></i></span>
					</td>
				</ng-container>
			</tr>
		</ng-template>
	</p-table>
</div>