<p-sidebar #sidebar [(visible)]="organizationView" position="right" [baseZIndex]="10000" [dismissible]="false"
	[closeOnEscape]="false" styleClass="w-full md:w-10 lg:w-10 xl:w-10" [showCloseIcon]="false">
	<div class="col-12 p-0 pb-3 drawLine text-left">
		<span class="text-xl ml-2 font-bold">{{'CONTACTS.ORGANIZATIONS.ADD_ORGANIZATION_DETAILS' | translate}}</span>
	</div>
	<form [formGroup]="organizationForm" (ngSubmit)="onSubmit()">
		<div class="col-12 grid">
			<div class="col-3 formClass">
				<div class="formgrid grid" formGroupName="primaryDetails">
					<div class="field col-12">
						<label for="name">{{'CONTACTS.ORGANIZATIONS.ORGANIZATION_ID' | translate}}</label>
						<input formControlName="orgId" type="text"
							class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
					</div>
					<div class="field col-12">
						<label for="name">{{'COMMON.NAME' | translate}}</label>
						<input formControlName="name" type="text"
							class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
					</div>
					<div class="field col-12">
						<label for="section">{{'CONTACTS.ORGANIZATIONS.WZ_SECTION' | translate}}</label><br>
						<p-dropdown appendTo="body" [filter]="true" filterBy="Name"
							formControlName="section" [options]="sections" optionLabel="Name"
							placeholder="{{ 'DROPDOWNS.SELECT_TYPE' | translate}}"
							(onChange)="sectionChange($event)"></p-dropdown>
					</div>
					<div class="field col-12">
						<label for="industryType">{{'CONTACTS.ORGANIZATIONS.WZ_INDUSTRY_TYPE' | translate}}</label><br>
						<p-dropdown appendTo="body" [filter]="true" filterBy="Name"
							formControlName="industryType" [options]="industryTypes"
							optionLabel="Name"
							placeholder="{{ 'DROPDOWNS.SELECT_TYPE' | translate}}"
							(onChange)="industryTypeChange($event)"></p-dropdown>
					</div>
					<div class="field col-12" *ngIf="industrySubType1 && industrySubType1.length > 0">
						<label for="subType1">{{'CONTACTS.ORGANIZATIONS.WZ_SUB_TYPE_1' | translate}}</label><br>
						<p-dropdown appendTo="body" [filter]="true" filterBy="Name"
							formControlName="subType1" [options]="industrySubType1"
							optionLabel="Name"
							placeholder="{{ 'DROPDOWNS.SELECT_TYPE' | translate}}"
							(onChange)="industrySubTypeChange($event)"></p-dropdown>
					</div>
					<div class="field col-12" *ngIf="industrySubType2 && industrySubType2.length > 0">
						<label for="subType2">{{'CONTACTS.ORGANIZATIONS.WZ_SUB_TYPE_2' | translate}}</label><br>
						<p-dropdown appendTo="body" [filter]="true" filterBy="Name"
							formControlName="subType2" [options]="industrySubType2"
							optionLabel="Name"
							placeholder="{{ 'DROPDOWNS.SELECT_TYPE' | translate}}"
							(onChange)="industrySubType2Change($event)"></p-dropdown>
					</div>
					<div class="field col-12">
						<label for="revenueRange">{{'CONTACTS.ORGANIZATIONS.REVENUE_RANGE' | translate}}</label><br>
						<p-dropdown appendTo="body" [filter]="true" filterBy="name" formControlName="revenueRange"
							[options]="revenueRange" optionLabel="name" optionValue="name"
							placeholder="{{ 'DROPDOWNS.SELECT_REVENUE' | translate}}"></p-dropdown>
					</div>
					<div class="field col-12">
						<label>{{'CONTACTS.ORGANIZATIONS.STATUS' | translate}}</label><br>
						<p-dropdown appendTo="body" [filter]="true" filterBy="name" formControlName="status"
							[options]="status" optionLabel="label" optionValue="name"
							placeholder="{{ 'DROPDOWNS.SELECT_STATUS' | translate}}" (onChange)="statusChange($event)">
						</p-dropdown>
					</div>
					<div class="field col-12" *ngIf="false">
						<label for="pointofContact">{{'CONTACTS.ORGANIZATIONS.POINT_OF_CONTACT' | translate}}</label>
						<p-dropdown appendTo="body" formControlName="pointofContact" [options]="individualsData"
							optionLabel="name" optionValue="id"
							placeholder="{{ 'DROPDOWNS.SELECT_POINT_OF_CONTACT' | translate}}"></p-dropdown>
					</div>
					<div class="field col-12">
						<label for="accountManager">{{'CONTACTS.ORGANIZATIONS.ACCOUNT_MANAGER' | translate}}</label>
						<p-dropdown appendTo="body" formControlName="accountManager" [options]="individualsData"
							optionLabel="name" optionValue="name"
							placeholder="{{ 'DROPDOWNS.SELECT_ACCOUNT_MANAGER' | translate}}"></p-dropdown>
					</div>
					<ng-container *ngIf="activeContract">
						<div class="field col-12">
							<label for="rolename">{{'CONTACTS.ORGANIZATIONS.INVOICE_FREQUENCY' | translate}}</label>
							<p-dropdown appendTo="body" formControlName="invoiceFrequency" [options]="paymentMilestone"
								optionLabel="label" optionValue="name"
								placeholder="{{ 'DROPDOWNS.SELECT_FREQUENCY' | translate}}">
							</p-dropdown>
						</div>
						<div class="field col-12">
							<label for="rolename">{{'CONTACTS.ORGANIZATIONS.CURRENT_CONTRACT_START_DATE' |
								translate}}</label>
							<p-calendar formControlName="startDate" dateFormat="dd-M-yy" [showIcon]="true"></p-calendar>
						</div>
						<div class="field col-12">
							<label for="rolename">{{'CONTACTS.ORGANIZATIONS.CURRENT_CONTRACT_END_DATE' |
								translate}}</label>
							<p-calendar formControlName="endDate" dateFormat="dd-M-yy" [showIcon]="true"></p-calendar>
						</div>
						<div class="field col-12">
							<label for="rolename">{{'CONTACTS.ORGANIZATIONS.CUSTOMER_SINCE' | translate}}</label>
							<p-calendar formControlName="customerSince" dateFormat="dd-M-yy"
								[showIcon]="true"></p-calendar>
						</div>
					</ng-container>
					<div class="field col-12 mt-5">
						<button pButton label="{{ 'COMMON.SAVE' | translate }}" pRipple type="submit" icon="pi pi-check"
							class="p-button-primary" (click)="saveOrgData()"></button>
						<button pButton label="{{ 'COMMON.CANCEL' | translate }}" pRipple icon="pi pi-times"
							class="p-button-secondary ml-3" (click)="closePanel()"></button>
					</div>
				</div>
			</div>
			<div class="col-9">
				<div class="p-0 mb-3">
					<p-fieldset [toggleable]="true" [collapsed]="false">
						<ng-template pTemplate="header">
							<div class="flex align-items-center gap-2 px-2">
								<span class="font-bold">{{'CONTACTS.ORGANIZATIONS.FACILITIES' | translate}}</span>
							</div>
						</ng-template>
						<ng-container *ngIf="facilitiesTable; else addFacility">
							<div class="col-12 p-0 pb-2 text-right">
								<button pButton pRipple icon="pi pi-plus" label="Add Facility"
									class="p-button-primary text-center" (click)="updateFacility()"></button>
							</div>
							<ng-container *ngIf="facilitiesTableData.length > 0">
								<app-table [loading]="loading" [key]="'facilities'" [footerKey]="'Facilities'"
									[columns]="facilityCols" [tableData]="facilitiesTableData"
									(editContent)="editData($event)" (deleteContent)="delete($event)"></app-table>
							</ng-container>
						</ng-container>
						<ng-template #addFacility>
							<ng-container formArrayName="facilities">
								<div class="formgrid grid" *ngFor="let facility of facilities.controls; let i = index"
									[formGroupName]="i">
									<div class="field col-12">
										<div class="formgrid grid">
											<div class="field col-4">
												<label for="type">{{'CONTACTS.ORGANIZATIONS.TYPE' |
													translate}}</label><br>
												<p-dropdown appendTo="body" formControlName="type" [filter]="true"
													filterBy="name" [options]="facilityType" optionLabel="label"
													optionValue="name"
													placeholder="{{ 'DROPDOWNS.SELECT_FACILITY_TYPE' | translate}}">
												</p-dropdown>
											</div>
											<div class="field col-3">
												<label for="type">{{'CONTACTS.ORGANIZATIONS.EMPLOYEE_COUNT' |
													translate}}</label><br>
												<p-inputNumber formControlName="employeeCount"></p-inputNumber>
											</div>

											<div class="col mt-4">
												<div class="flex gap-2 float-end flex-row-reverse flex-wrap">
													<button pButton pRipple type="button" icon="pi pi-plus"
														title="Add New" *ngIf="i === facilities.controls.length - 1"
														class="p-button-rounded p-button-info"
														(click)="initFacilitiesArray()"></button>
													<button pButton pRipple type="button"
														*ngIf="facilities.controls.length > 1" icon="pi pi-times"
														title="Remove" class="p-button-rounded p-button-danger"
														(click)="removeFacilitiesArray(i)"></button>
												</div>
											</div>
										</div>
										<div class="formgrid grid">
											<div class="field col">
												<label
													for="emailAddress">{{'CONTACTS.ORGANIZATIONS.PRIMARY_EMAILADDRESS' |
													translate}}</label>
												<input formControlName="emailAddress" type="text"
													class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
											</div>
											<div class="field col">
												<label for="phoneNumber">{{'CONTACTS.ORGANIZATIONS.PRIMARY_PHONE_NUMBER'
													| translate}}</label><br>
												<p-inputMask formControlName="phoneNumber" mask="(99) 9999-999999"
													placeholder="(99) 9999-999999"></p-inputMask>
											</div>
										</div>
										<div class="formgrid grid">
											<div class="field col">
												<label for="address">{{'CONTACTS.ORGANIZATIONS.ADDRESS' |
													translate}}</label>
												<input formControlName="address" type="text"
													class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
											</div>
										</div>
										<div class="formgrid grid">
											<div class="field col">
												<label for="country">{{'CONTACTS.ORGANIZATIONS.COUNTRY' |
													translate}}</label><br>
												<p-dropdown [filter]="true" filterBy="name" appendTo="body"
													formControlName="country" [options]="countries" optionLabel="name"
													optionValue="name" placeholder="Germany"></p-dropdown>
											</div>
											<div class="field col">
												<label for="zipCode">{{'CONTACTS.ORGANIZATIONS.POSTCODE' |
													translate}}</label>
												<input formControlName="zipCode" type="text"
													class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
											</div>
										</div>
									</div>
								</div>
							</ng-container>
						</ng-template>
					</p-fieldset>
				</div>
				<div class="p-0 mb-3">
					<p-fieldset [toggleable]="true" [collapsed]="false">
						<ng-template pTemplate="header">
							<div class="flex align-items-center gap-2 px-2">
								<span class="font-bold">{{'CONTACTS.ORGANIZATIONS.POINT_OF_CONTACT' | translate}}</span>
							</div>
						</ng-template>
						<div class="col-12 p-0">
							<button pButton pRipple icon="pi pi-plus" class="p-button-primary text-center"
								label="{{ 'CONTACTS.ORGANIZATIONS.ADD_POINT_OF_CONTACT' | translate }}"
								(click)="addPOC()"></button>
						</div>
						<div class="col-12 p-0 pt-2" *ngIf="pocTableData.length > 0">
							<app-table [loading]="loading" [key]="'poc'" [footerKey]="'Point Of Contacts'"
								[columns]="pocTableCols" [tableData]="pocTableData" (editContent)="editData($event)"
								(deleteContent)="delete($event)"></app-table>
						</div>
					</p-fieldset>
				</div>
				<div class="p-0 mb-3" *ngIf="dealsTable && dealsTable.length > 0">
					<p-fieldset [toggleable]="true">
						<ng-template pTemplate="header">
							<div class="flex align-items-center gap-2 px-2">
								<span class="font-bold">{{'CONTACTS.ORGANIZATIONS.DEALS_HEADER' | translate}}</span>
							</div>
						</ng-template>
						<app-table [loading]="loading" [key]="'dealsData'"
							[footerKey]="'LEAD_MANAGEMENT.DEALS.DEAL_DETAILS'" [columns]="dealsColumns"
							[tableData]="dealsTable"></app-table>
					</p-fieldset>
				</div>
				<div class="p-0 mb-3" *ngIf="panelList && panelList.length > 0">
					<p-fieldset [toggleable]="true">
						<ng-template pTemplate="header">
							<div class="flex align-items-center gap-2 px-2">
								<span class="font-bold">{{'CONTACTS.ORGANIZATIONS.SERVICESLIST' | translate}}</span>
							</div>
						</ng-template>
						<p-tabView>
							<ng-container *ngFor="let item of panelList">
								<p-tabPanel [header]="item.type">
									<app-table [loading]="loading" [key]="'serviceListView'" [footerKey]="'Services'"
										[columns]="serviceColumns" [tableData]="item.dataVal"></app-table>
								</p-tabPanel>
							</ng-container>
						</p-tabView>
					</p-fieldset>
				</div>
			</div>
		</div>
		<!-- <div class="col-12 m-auto" style="width: 100px;">
			<button pButton pRipple label="Save" class="p-button-success text-center"></button>
		</div> -->
	</form>
</p-sidebar>

<p-toast></p-toast>
<p-confirmDialog>
	<ng-template pTemplate="message" let-message>
		<div class="flex flex-column align-items-center w-full gap-3 surface-border">
			<i class="pi pi-exclamation-triangle text-6xl text-primary-500"></i>
			<p>{{ message.message }}</p>
		</div>
	</ng-template>
</p-confirmDialog>
<div class="col-12 py-0">
	<p-toolbar>
		<div class="p-toolbar-group-start" *ngIf="keycloakService.isUserInRole('add-organization')">
			<p-button icon="pi pi-user" severity="info"
				label="{{ 'CONTACTS.ORGANIZATIONS.ADD_ORGANIZATION' | translate }}" (click)="addContact()"></p-button>
			<p-button class="ml-2" icon="pi pi-file-import" [disabled]="true"
				label="{{ 'CONTACTS.ORGANIZATIONS.IMPORT' | translate }}"></p-button>
			<p-button class="ml-2" icon="pi pi-trash" [disabled]="true"
				label="{{ 'CONTACTS.ORGANIZATIONS.DELETE' | translate }}"></p-button>
			<button type="button" title="{{ 'CONTACTS.ORGANIZATIONS.EXPORTASCSV' | translate }}" pButton pRipple
				icon="pi pi-file" class="ml-2" pTooltip="CSV" tooltipPosition="bottom"></button>
			<button type="button" title="{{ 'CONTACTS.ORGANIZATIONS.EXPORTASPDF' | translate }}" pButton pRipple
				icon="pi pi-file-pdf" class="p-button-warning ml-2" pTooltip="PDF" tooltipPosition="bottom"></button>
		</div>
		<div class="p-toolbar-group-center">
			<span class="p-input-icon-left" (keyup.enter)="searchResults($event)">
				<i class="pi pi-search"></i>
				<input pInputText type="text" placeholder="{{ 'COMMON.SEARCHBYNAME'| translate }}"
					[(ngModel)]="searchValue" />
			</span>
		</div>
	</p-toolbar>
	<app-table [loading]="loading" [key]="'organizations'" [footerKey]="'COMMON.ORGANIZATIONS'" [columns]="columns"
		[tableData]="tableData" (editContent)="editData($event)" (deleteContent)="delete($event)"></app-table>
</div>