<p-dialog [(visible)]="organizationView" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '70vw' }"
	[draggable]="false" [resizable]="false">
	<ng-template pTemplate="header">
		<div class="m-auto">
			<span><i class="pi pi-building" style="font-size: 1.5rem;"></i></span>
			<span class="text-xl ml-2 font-bold">Organizations Details</span>
		</div>
		<span *ngIf="false">
			<p-inputSwitch class="mr-2" [(ngModel)]="additionalDetails"></p-inputSwitch>
			<label>Additional Details</label>
		</span>
	</ng-template>
	<div class="col-12">
		<form [formGroup]="organizationForm" (ngSubmit)="onSubmit()">
			<p-accordion [multiple]="true">
				<p-accordionTab header="Organizations Details" [selected]="true">
					<div class="formgrid grid" formGroupName="primaryDetails">
						<div class="field col">
							<label for="name">Name</label>
							<input formControlName="name" type="text"
								class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
						</div>
						<div class="field col">
							<label for="pointofContact">Point Of Contact</label>
							<p-dropdown appendTo="body" formControlName="pointofContact" [options]="individualsData"
								optionLabel="name" optionValue="id" placeholder="Select Point Of Contact"></p-dropdown>
						</div>
						<div class="field col">
							<label for="accountManager">Account Manager</label>
							<p-dropdown appendTo="body" formControlName="accountManager" [options]="individualsData"
								optionLabel="name" optionValue="id" placeholder="Select Account Manager"></p-dropdown>
						</div>
						<div class="field col-2">
							<label>Status</label><br>
							<p-dropdown appendTo="body" [filter]="true" filterBy="name" formControlName="status"
								[options]="status" optionLabel="name" optionValue="name"
								placeholder="Select Status"></p-dropdown>
						</div>
						<div class="field col">
							<label for="name">Company Website</label>
							<input formControlName="website" type="text"
								class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
						</div>
					</div>
					<div class="formgrid grid">
						<div class="field col" formArrayName="phones">
							<ng-container *ngFor="let phone of phones.controls; let i = index" [formGroupName]="i">
								<label for="lastname">Primary Contact</label><br>
								<input formControlName="phoneNumber" type="text"
									class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
							</ng-container>
						</div>
						<div class="field col" formArrayName="emailAddresses">
							<ng-container *ngFor="let email of emailAddresses.controls; let i = index">
								<label for="lastname">Primary Email Address</label><br>
								<input [formControlName]="i" type="email"
									class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

							</ng-container>
						</div>
					</div>
					<ng-container formArrayName="addresses">
						<ng-container *ngFor="let address of addresses.controls; let i = index" [formGroupName]="i">

							<div class="formgrid grid">
								<div class="field col">
									<label for="address">Address</label>
									<input formControlName="address" type="text"
										class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
								</div>
							</div>
							<div class="formgrid grid">
								<div class="field col">
									<label for="zipCode">Post Code</label>
									<input formControlName="zipCode" type="text"
										class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
								</div>
								<div class="field col">
									<label for="country">Country</label><br>
									<p-dropdown appendTo="body" formControlName="country" [filter]="true"
										filterBy="name" [options]="countries" optionLabel="name" optionValue="name"
										placeholder="Country"></p-dropdown>
								</div>
							</div>
						</ng-container>
					</ng-container>
				</p-accordionTab>
				<p-accordionTab header="Segment">
					<div class="formgrid grid" formGroupName="segmant">
						<div class="field col">
							<label for="industryType">Industry Type</label><br>
							<p-dropdown appendTo="body" [filter]="true" filterBy="name" formControlName="industryType"
								[options]="industryType" optionLabel="name" optionValue="name"
								placeholder="Select Type"></p-dropdown>
						</div>
						<div class="field col">
							<label for="subType">Sub Type</label><br>
							<p-dropdown appendTo="body" [filter]="true" filterBy="name" formControlName="subType"
								[options]="subType" optionLabel="name" optionValue="name"
								placeholder="Select Type"></p-dropdown>
						</div>
						<div class="field col">
							<label for="revenueRange">Revenue Range</label><br>
							<p-dropdown appendTo="body" [filter]="true" filterBy="name" formControlName="revenueRange"
								[options]="revenueRange" optionLabel="name" optionValue="name"
								placeholder="Select Revenue"></p-dropdown>
						</div>
						<div class="field col-12">
							<label for="notes">Notes</label><br>
							<input formControlName="notes" type="text"
								class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
						</div>
					</div>
				</p-accordionTab>
				<p-accordionTab header="Facilities">
					<ng-container formArrayName="facilities">
						<div class="formgrid grid" *ngFor="let facility of facilities.controls; let i = index"
							[formGroupName]="i">
							<p-card class="field col-12">
								<div class="field col-12">
									<div class="formgrid grid">
										<div class="field col-3">
											<label for="type">Type</label><br>
											<p-dropdown appendTo="body" formControlName="type" [filter]="true"
												filterBy="name" [options]="facilityType" optionLabel="name"
												optionValue="name" placeholder="Select Facility Type"></p-dropdown>
										</div>
										<div class="field col-3">
											<label for="type">Employee Count</label><br>
											<p-inputNumber formControlName="employeeCount"></p-inputNumber>
										</div>

										<div class="col-6 mt-4">
											<div class="flex gap-2 float-end flex-row-reverse flex-wrap">
												<button pButton pRipple type="button" icon="pi pi-plus" title="Add New"
													*ngIf="i === facilities.controls.length - 1"
													class="p-button-rounded p-button-info"
													(click)="initFacilitiesArray()"></button>
												<button pButton pRipple type="button"
													*ngIf="facilities.controls.length > 1" icon="pi pi-times"
													title="Remove" class="p-button-rounded p-button-danger"
													(click)="removeFacilitiesArray(i)"></button>
											</div>
										</div>
									</div>
								</div>
								<div class="field col-12">
									<div class="formgrid grid">
										<div class="field col">
											<label for="address">Address</label>
											<input formControlName="address" type="text"
												class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
										</div>
									</div>
									<div class="formgrid grid">
										<div class="field col">
											<label for="country">Country</label><br>
											<p-dropdown [filter]="true" filterBy="name" appendTo="body"
												formControlName="country" [options]="countries" optionLabel="name"
												optionValue="name" placeholder="Country"></p-dropdown>
										</div>
										<div class="field col">
											<label for="zipCode">Post Code</label>
											<input formControlName="zipCode" type="text"
												class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
										</div>
									</div>
								</div>
							</p-card>
						</div>
					</ng-container>
				</p-accordionTab>
				<p-accordionTab header="Service Rates">
					<ng-container formArrayName="services">
						<div class="formgrid grid" *ngFor="let service of services.controls;let i = index"
							[formGroupName]="i">
							<div class="field col">
								<label for="type">Type</label><br>
								<p-dropdown appendTo="body" formControlName="type" [options]="serviceList"
									optionLabel="name" optionValue="name" placeholder="Select Type"></p-dropdown>
							</div>
							<div class="field col">
								<label for="amount">Rate</label><br>
								<p-inputNumber formControlName="amount" mode="currency" inputId="currency-germany"
									currency="EUR" locale="de-DE"> </p-inputNumber>
							</div>
							<div class="field col">
								<label for="companyAverage">Company Average</label><br>
								<p-inputNumber formControlName="companyAverage" mode="currency"
									inputId="currency-germany" currency="EUR" locale="de-DE"> </p-inputNumber>
							</div>
							<div class="field col">
								<label for="tinoAverage">Tino's Average</label><br>
								<p-inputNumber formControlName="tinoAverage" mode="currency" inputId="currency-germany"
									currency="EUR" locale="de-DE"> </p-inputNumber>
							</div>
							<div class="field col-1">
								<div class="flex gap-2 float-end flex-row flex-wrap mt-4">
									<button pButton pRipple type="button" icon="pi pi-plus" title="Add New"
										*ngIf="i === services.controls.length - 1"
										class="p-button-rounded p-button-info" (click)="initServicesArray()"></button>
									<button pButton pRipple type="button" *ngIf="services.controls.length > 1"
										icon="pi pi-times" title="Remove" class="p-button-rounded p-button-danger"
										(click)="removeServicesArray(i)"></button>
								</div>
							</div>
						</div>
					</ng-container>
				</p-accordionTab>
				<p-accordionTab header="Activity Log" *ngIf="false">
					<div class="formgrid grid">
						<div class="field col-3">
							<label for="emailAddress">Activity Timestamp</label><br>
							<p-calendar [showIcon]="true"></p-calendar>
						</div>
						<div class="field col-9">
							<label for="emailAddress">Notes</label><br>
							<input formControlName="emailAddress" type="text"
								class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
						</div>
					</div>
				</p-accordionTab>
			</p-accordion>
			<div class="col-12 m-auto" style="width: 100px;">
				<button pButton pRipple label="Submit" class="p-button-success text-center"></button>
			</div>
		</form>
	</div>
</p-dialog>
<p-toast></p-toast>
<p-confirmDialog>
	<ng-template pTemplate="message" let-message>
		<div class="flex flex-column align-items-center w-full gap-3 surface-border">
			<i class="pi pi-exclamation-triangle text-6xl text-primary-500"></i>
			<p>{{ message.message }}</p>
		</div>
	</ng-template>
</p-confirmDialog>
<div class="col-12 py-0">
	<p-toolbar>
		<div class="p-toolbar-group-start">
			<p-button icon="pi pi-user" severity="info" label="Add Organizations" (click)="addContact()"></p-button>
			<p-button class="ml-2" icon="pi pi-file-import" [disabled]="true" label="Import"></p-button>
			<p-button class="ml-2" icon="pi pi-trash" [disabled]="true" severity="danger" label="Delete"
				(click)="addContact()"></p-button>
			<button type="button" pButton pRipple icon="pi pi-file" class="ml-2" pTooltip="CSV"
				tooltipPosition="bottom"></button>
			<button type="button" pButton pRipple icon="pi pi-file-pdf" class="p-button-warning ml-2" pTooltip="PDF"
				tooltipPosition="bottom"></button>
		</div>
		<div class="p-toolbar-group-center">
			<span class="p-input-icon-left">
				<i class="pi pi-search"></i>
				<input pInputText type="text" placeholder="Search keyword" />
			</span>
		</div>
	</p-toolbar>
	<app-table [key]="'Organizations'" [columns]="columns" [tableData]="tableData" (editContent)="editData($event)"
		(deleteContent)="delete($event)"></app-table>
</div>