<p-sidebar #sidebar [(visible)]="contactView" position="right" [baseZIndex]="10000"  [dismissible]="false" [closeOnEscape]="false"
 styleClass="w-full md:w-10 lg:w-10 xl:w-10" [showCloseIcon]="false">
	<div class="col-12 p-0 pb-3 drawLine text-left">
		<span class="text-xl ml-2 font-bold">{{'CONTACTS.INDIVIDUAL.ADD_CONTACT_DETAILS' | translate}}</span>
	</div>

	<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
		<div class="col-12 grid">
			<div class="col-3 formClass" formGroupName="primaryDetails">
				<div class="formgrid grid">
					<div class="field col-12">
						<label>{{ 'CONTACTS.INDIVIDUAL.SALUTATION' | translate }}</label>
						<p-dropdown appendTo="body" formControlName="salutation" [options]="Salutations" optionLabel="label" optionValue="name" 
						 placeholder="{{ 'PLACEHOLDERS.SALUTATION' | translate}}">
						</p-dropdown>
					</div>
					<div class="field col-12">
						<label for="firstname">{{ 'CONTACTS.INDIVIDUAL.FIRSTNAME' | translate }}</label>
						<input formControlName="firstName" type="text"
							class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
					</div>
					<div class="field col-12">
						<label for="middlename">{{ 'CONTACTS.INDIVIDUAL.MIDDLENAME' | translate }}</label>
						<input formControlName="middleName" type="text"
							class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
					</div>
					<div class="field col-12">
						<label for="lastname">{{ 'CONTACTS.INDIVIDUAL.LASTNAME' | translate }}</label>
						<input formControlName="lastName" type="text"
							class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
					</div>
					<div class="field col-12">
						<label for="companyname">{{ 'CONTACTS.INDIVIDUAL.ORGANIZATION_NAME' | translate }}</label>
						<p-dropdown appendTo="body" formControlName="companyName" [editable]="true" [options]="organizations" optionLabel="name" 
						placeholder="{{ 'DROPDOWNS.ORGANIZATION' | translate}}"></p-dropdown>
					</div>
					<div class="field col-12">
						<label for="jobtitle">{{ 'CONTACTS.INDIVIDUAL.JOBTITLE' | translate }}</label>
						<p-dropdown appendTo="body" formControlName="jobTitle" [editable]="true" [options]="company" optionLabel="name" 
						placeholder="{{ 'DROPDOWNS.JOB_TITLE' | translate}}"></p-dropdown>
					</div>
					<div class="field col-12">
						<label>{{ 'CONTACTS.INDIVIDUAL.STATUS' | translate }}</label><br>
						<p-dropdown formControlName="status" [options]="status" optionLabel="label" optionValue="name" placeholder="{{ 'PLACEHOLDERS.PROSPECT' | translate}}">
					</p-dropdown>
					</div>
					<div class="field col-12">
						<label for="rolename">{{ 'CONTACTS.INDIVIDUAL.ROLE' | translate }}</label>
						<p-dropdown formControlName="roleName" optionLabel="label" optionValue="name" [options]="roles" placeholder="{{ 'PLACEHOLDERS.ROLE' | translate}}"></p-dropdown>
					</div>
					<div class="field col-12 mt-5">
						<button pButton pRipple type="submit" label="{{ 'COMMON.SAVE' | translate }}" icon="pi pi-check" class="p-button-primary" [disabled]="!contactForm.valid" (click)="saveIndividuals()"></button>
						<button pButton pRipple icon="pi pi-times" label="{{ 'COMMON.CANCEL' | translate }}" class="p-button-secondary ml-3" (click)="closePanel()"></button>
					</div>
				</div>
			</div>
			<div class="col-9">
				<p-fieldset [toggleable]="true">
					<ng-template pTemplate="header">
						<div class="flex align-items-center gap-2 px-2">
							<span class="font-bold">{{'CONTACTS.INDIVIDUAL.CONTACT_DETAILS' | translate}}</span>
						</div>
					</ng-template>
					<ng-container formArrayName="addresses">
						<div class="formgrid grid" *ngFor="let addr of addresses.controls; let i = index"
							[formGroupName]="i">
							<div class="col-12 p-0">
								<div class="formgrid grid">
									<div class="field col">
										<label for="emailAddress">{{ 'CONTACTS.INDIVIDUAL.PRIMARY_EMAILADDRESS' | translate }}</label>
										<input formControlName="primaryEmail" type="text"
											class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
									</div>
									<div class="field col">
										<label for="alternateEmail">{{ 'CONTACTS.INDIVIDUAL.ALTERNATE_EMAILADDRESS' | translate }}</label>
										<input formControlName="alternateEmail" type="text"
											class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
									</div>
								</div>
								<div class="formgrid grid">
									<div class="field col">
										<label for="lastname">{{ 'CONTACTS.INDIVIDUAL.PRIMARY_PHONE_NUMBER' | translate }}</label><br>
										<p-inputMask formControlName="primaryPhone" mask="(99) 9999-999999"
											placeholder="(99) 9999-999999"></p-inputMask>
									</div>
									<div class="field col">
										<label for="lastname">{{ 'CONTACTS.INDIVIDUAL.ALTERNATE_PHONE_NUMBER' | translate }}</label><br>
										<p-inputMask formControlName="alternatePhone" mask="(99) 9999-999999"
											placeholder="(99) 9999-999999"></p-inputMask>
									</div>
								</div>
								<div class="formgrid grid">
									<div class="field col">
										<label for="emailAddress">{{ 'CONTACTS.INDIVIDUAL.ADDRESS' | translate }}</label>
										<input formControlName="address" type="text"
											class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
									</div>
									<div class="field col-1 mt-4" *ngIf="copyAddressBtn">
										<p-button icon="pi pi-copy" class="ml-auto" (click)="copyAddress()" size="small" [rounded]="true"></p-button>
									</div>
								</div>
								<div class="formgrid grid">
									<div class="field col">
										<label for="emailAddress">{{ 'CONTACTS.INDIVIDUAL.COUNTRY' | translate }}</label><br>
										<input type="text" formControlName="country"
											class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
									</div>
									<div class="field col">
										<label for="emailAddress">{{ 'CONTACTS.INDIVIDUAL.POSTCODE' | translate }}</label>
										<input formControlName="zipCode" type="text"
											class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
									</div>
								</div>
							</div>
						</div>
					</ng-container>	
					<div class="col-12 p-0 text-right">
						<button [disabled]="true" label="{{ 'CONTACTS.INDIVIDUAL.ADD_ANOTHER_ADDRESS' | translate }}" class="text-right" pButton pRipple icon="pi pi-plus"></button>
					</div>
				</p-fieldset>
			</div>
		</div>
	</form>

</p-sidebar>

<p-toast></p-toast>

<p-confirmDialog>
	<ng-template pTemplate="message" let-message>
		<div class="flex flex-column align-items-center w-full gap-3 surface-border">
			<i class="pi pi-exclamation-triangle text-6xl text-primary-500"></i>
			<p>{{ message.message }}</p>
		</div>
	</ng-template>
</p-confirmDialog>

<div class="col-12 py-0">
	<p-toolbar>
		<div class="p-toolbar-group-start"  *ngIf="keycloakService.isUserInRole('add-individual')">
			<p-button icon="pi pi-user" severity="info" label="{{ 'CONTACTS.INDIVIDUAL.ADD_CONTACT' | translate }}" (click)="addContact()"></p-button>
			<p-button class="ml-2" icon="pi pi-file-import" [disabled]="true" label="{{ 'CONTACTS.INDIVIDUAL.IMPORT' | translate }}"></p-button>
			<p-button class="ml-2" icon="pi pi-trash" [disabled]="true" severity="danger" label="{{ 'CONTACTS.INDIVIDUAL.DELETE' | translate }}"(click)="addContact()"></p-button>
			<button type="button" title="{{ 'CONTACTS.INDIVIDUAL.EXPORTASCSV' | translate }}" pButton pRipple icon="pi pi-file" class="ml-2" pTooltip="CSV"
				tooltipPosition="bottom"></button>
			<button type="button" title="{{ 'CONTACTS.INDIVIDUAL.EXPORTASPDF' | translate }}" pButton pRipple icon="pi pi-file-pdf" class="p-button-warning ml-2" pTooltip="PDF"
				tooltipPosition="bottom"></button>
		</div>
		<div class="p-toolbar-group-center">
			<span style="width: 210px;" class="p-input-icon-left" (keyup.enter)="searchResults($event)">
				<i class="pi pi-search"></i>
				<input pInputText type="text" placeholder="{{ 'COMMON.SEARCHBYNAMEANDCOMPANY'| translate }}" [(ngModel)]="searchValue" />
			</span>
		</div>
	</p-toolbar>
	<div id="table">
		<app-table [loading]="loading" [key]="'individuals'" [footerKey]="'COMMON.INDIVIDUAL'" [columns]="columns" [tableData]="tableData"
		(editContent)="editData($event)" (deleteContent)="delete($event)"></app-table>
	</div>
</div>

  