<!-- Rule View -->
<p-card header="Add Service(s)">
    <form [formGroup]="serviceListForm" (ngSubmit)="onSubmit()">
        <div class="col-12 p-0 inline-flex">
            <div class="col p-0">
                <label for="type">Service Type</label><br>
                <p-dropdown appendTo="body" [editable]="true" formControlName="type" [options]="ServiceTypes"
                    optionLabel="label" placeholder="{{ 'DROPDOWNS.SELECT_SERVICE_TYPE' | translate}}"
                    (onChange)="changeSubType($event)">
                </p-dropdown>
            </div>
            <div class="col py-0">
                <label for="type">Service SubType</label><br>
                <p-dropdown appendTo="body" [editable]="true" formControlName="subtype" [options]="subTypeList"
                    optionLabel="label" placeholder="{{ 'DROPDOWNS.SELECT_SERVICE_TYPE' | translate}}">
                </p-dropdown>
            </div>
            <div class="col py-0">
                <label for="amount">Unit Measure</label><br>
                <p-dropdown appendTo="body" [editable]="true" formControlName="measure" [options]="unitMeasure"
                    optionLabel="label" placeholder="{{ 'DROPDOWNS.SELECT_MEASURE' | translate}}">
                </p-dropdown>
            </div>
            <div class="col py-0">
                <label for="amount">Unit Rate</label><br>
                <p-inputNumber formControlName="rate" mode="currency" inputId="currency-germany" currency="EUR"
                    locale="de-DE">
                </p-inputNumber>
            </div>
            <div class="col py-0">
                <label for="validTill">{{'BUSINESS_ADMINISTRATION.SERVICE_SETTINGS.VALID_TILL' | translate}}</label>
                <p-calendar formControlName="validTill" dateFormat="dd-M-yy" [showIcon]="true"></p-calendar>
            </div>
            <div class="col py-0 saveRule">
                <button pButton label="{{ 'COMMON.ADDSERVICES' | translate }}" pRipple type="submit" icon="pi pi-plus"
                    class="p-button-primary" (click)="saveServices()"></button>
            </div>
        </div>
    </form>
</p-card>

<!-- Table Component -->
<div class="col-12 mt-3" *ngIf="tableData.length > 0">
    <app-table [loading]="loading" [key]="'serviceSettings'" [footerKey]="'COMMON.SERVICE_SETTINGS'" [columns]="columns"
        [tableData]="tableData" (deleteContent)="deleteServices($event)"></app-table>
</div>