<div [id]="card.id"
    class="flex surface-card flex-column w-full border-1 surface-border p-3 gap-3 hover:surface-ground cursor-pointer border-round">
    <div class="flex justify-content-between align-items-center">
        <span class="text-900 font-semibold">{{card.dealName ? card.dealName : 'Untitled'}}</span>
        <div>
            <button pButton pRipple type="button" icon="pi pi-ellipsis-v"
                *ngIf="keycloakService.isUserInRole('edit-deal')"
                class="p-button-rounded p-button-text p-button-secondary p-trigger"
                (click)="menu.toggle($event)"></button>
            <p-tieredMenu #menu [model]="menuItems" appendTo="body" [popup]="true">
                <ng-template pTemplate="item" let-item let-hasSubmenu="hasSubmenu">
                    <a pRipple class="flex align-items-center p-menuitem-link">
                        <span [class]="item.icon" class="p-menuitem-icon"></span>
                        <span class="ml-2">{{ item.label | translate }}</span>
                    </a>
                </ng-template>
            </p-tieredMenu>
        </div>
    </div>
    <div *ngIf="card.org" style="word-break: break-word" class="text-700">{{ getOrgName(card.org) }}</div>
    <!-- <p-progressBar *ngIf="card.taskList.tasks.length" [value]="card.progress" [showValue]="false" [style]="{'height':'.5rem'}"></p-progressBar> -->

    <div class="flex align-items-center justify-content-end flex-column md:flex-row gap-4 md:gap-0">
        <!-- <p-avatarGroup>
            <p-avatar *ngFor="let assignee of card.assignees | slice:0:3" image="assets/demo/images/avatar/{{assignee.image}}" shape="circle" styleClass="border-2 surface-border"></p-avatar>
            <p-avatar *ngIf="card.assignees && card.assignees.length > 3" label="+ {{card.assignees.length - 3}}" shape="circle" styleClass="border-2 surface-border mb-1 surface-ground"></p-avatar>
        </p-avatarGroup> -->
        <div *ngIf="card.value || card.startDate" class="flex align-items-center gap-3">
            <span class="text-900 font-semibold" *ngIf="card.value"><i class="text-700 mr-2"></i>{{card.value |
                currency:'EUR':true }}</span>
            <span class="text-900 font-semibold" *ngIf="card.startDate"><i
                    class="pi pi-clock text-700 mr-2"></i>{{card.startDate | date:'mediumDate' }}</span>
        </div>
    </div>
</div>